.dropdown.model-drop-down {
  display: flex;
  justify-content: space-between;
}

.btn.btn-secondary.dropdown-toggle {
  flex-grow: 1;
}

.dropdown-menu.dropdown-menu-wide {
  width: 100%;
  max-width: none; /* Remove any maximum width restriction */
  left: 0;
  right: 0;
}

.select-container {
  margin-top: 10px;
  }
  
  .select-dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .select-option {
  background-color: #fff;
  color: #333;
  padding: 10px 8px;
  }
