.search-box{
    width: 50%;
    height: 40px;
 }

 .card{
   max-height: 90vh;
 }

  .entire {
    max-height: 68vh;
  }

  .entire{
    overflow: auto;
  }

 .entire {
   overflow: hidden;
 }
 
 @media (max-width: 767px) {
    .search-box {
      width: 100%;
    }
  }

/* new css */
.bucket_header{
}
.bucket-card-header{
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: .4fr 1fr 1fr 1fr 1fr .5fr;
  grid-gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 12px;
}
.bucket-card-header p{
  margin: 0;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .bucket-card-header {
    display: none;
  }
}