.Outercontainer_c {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
  }
  .Container_c {
    width: 40vw;
    height: 700px;
    border-radius: 1rem;
    border: 0.5px solid #666f0e;
    padding: 2rem;
    margin: 20px auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  }
  @media only screen and (max-width: 620px) {
    .Container_c {
      width: 90vw;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media only screen and (max-height: 670px) {
    .Container_c {
      height: 650px;
    }
  }
  .title_c {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
  }
  
  
  .inputs_container_c {
    display: flex;
    flex-direction: column;
  }
  
  .inputs_container_c input {
    width: 28vw;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 0;
  }
  
  .password_button {
    display: block;
    margin: 3rem auto 1rem auto;
    width: 55%;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #1a1b19;
    border-color: #a2910b !important;
    color: white;
    border: 2px solid;
  }
  .password_button:hover {
    border: 2px solid #f3f3f4;
    background-color: #5b520c;
  }
  
  
  .error_msg {
    color: rgb(252, 249, 249);
    padding-left: 1rem;
    font-size: 0.85rem;
    margin: 0;
  }

  
  @media only screen and (max-width: 620px) {
    .inputs_container input {
      width: 100%;
    }
  
    .login_button {
      width: 100%;
    }
  
    .error_msg {
      padding-left: 0.2rem;
    }
  }
  
  @media only screen and (max-height: 670px) {
    .subtitle {
      margin-bottom: 2rem;
    }
  
    .small {
      margin-bottom: 3rem;
    }
  }
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 5px;
    top: 35px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Adjust the icon size as needed */
  .password-toggle-icon svg {
    font-size: 18px;
  }
  